* , ::after, ::before {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    border: none;
    margin: 0;
}

.layout-container {
    background-color: lightgray;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding-top: 80px;
    overflow: hidden;
}

/* ==================== navBar ==================== */

.navBar {
    background-color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 2px solid gray;
    box-shadow: 0 0.4rem 0.8rem gray;
}

.navBar:hover {
    box-shadow: none;
}

.navBar-title {
    padding: 24px;
    padding-left: 32px;
}

.navBar-title span {
    color: darkgreen;
}

.navBar-list {
    float: right;


    padding: 0 32px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-inline: 16px;
}

.profile-name {
    margin-right: 16px;
}

.profile-logout-button {
    background-color: tomato;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.profile-logout-button:hover {
    background-color: red;
}

.profile-login-button {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.profile-login-button:hover {
    background-color: blue;
}


@media screen and (max-width: 600px) {
    .navBar {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .navBar-title {
        padding-left: 0;
        margin: 16px 0 8px 0;
        padding: 0;
    }

    .navBar-list {
        float: none;
    }

    .profile {
        padding-bottom: 16px;
        justify-content: center;
    }

    .profile-name {
        margin-right: 16px;
    }

    .profile-logout-button {
        margin: 8px 0;
    }

    .profile-login-button {
        margin: 8px 0;
    }

    .layout-container {
        padding-top: 120px;
    }
}