* , ::after, ::before {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    border: none;
    margin: 0;
}

.post-container {
    background-color: white;
    width: 320px;
    border: 1px solid gray;
    border-radius: 16px;
    box-shadow: 0 0.4rem 0.8rem gray;
    margin: 32px auto;
    overflow: hidden;
    position: relative;
    transition: all 300ms ease;
}

.post-container:hover {
    box-shadow: none;
}

.post-image-container {
    position: relative;
}

.post-image-container:hover {
    cursor: pointer;
}

.post-image {
    width: 100%;
}

.post-like-button {
    background-color: dodgerblue;
    color: white;
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.post-like-button:hover {
    background-color: blue;
    font-size: 18px;
}

.post-like-button-disabled {
    background-color: lightgray;
    color: white;
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
}

.post-text-container {
    padding: 16px;
}

/*==================== buttons ====================*/

.post-text-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-text-button-update {
    background-color: dodgerblue;
    padding: 8px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    letter-spacing: 4px;
    margin-top: 8px;
    cursor: pointer;
}

.post-text-button-update:hover {
    background-color: blue;
}

.post-text-button-delete {
    background-color: tomato;
    padding: 8px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    letter-spacing: 4px;
    margin-top: 8px;
    cursor: pointer;
}

.post-text-button-delete:hover {
    background-color: red;
}

.post-text-button-update-disabled {
    background-color: lightgray;
    padding: 8px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    letter-spacing: 4px;
    margin-top: 8px;
}

.post-text-button-delete-disabled {
    background-color: lightgray;
    padding: 8px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    letter-spacing: 4px;
    margin-top: 8px;
}